header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.logo {
    background-image: url(../images/logo.png);
    width: 160px;
    height: 60px;
    background-repeat: no-repeat;
    align-items: 20px;
}