.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: auto;
}
.filters button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
    cursor: pointer;
}
button:hover {
    opacity: 90%;
}
.locations {
    display: inline-block;
    /* height: 100%; */
    width: 25%;
    border-right: 1px solid #dddddd;
    position: absolute;

}
.amenities {
    display:inline-block;
    height: 100%;
    width: 25%;
    position: relative;
    left: 29%
}
.popover {
    display: none;
    background-color: #fafafa;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.h4:hover .popover{
    text-indent: 3px;
}
.locations:hover .popover{
    display: block;
}
.amenities:hover .popover{
    text-indent: 20%;
    display: block;
}
ul {
    list-style-type: none;
}
h3 {
    font-weight: 600;
    margin-left: 20%;
    margin-bottom: 0em;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 20%;
    margin-top: 3px;
}

h2 {
    font-size: 16px;
    line-height: 3px;
}
