.places {
    text-align: center;

}
h1 {
    text-align: left;
    /* padding: 20px; */
    /* margin: 20px; */
}
.places article {
    border: 2px solid  #FF5A5F;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
}
.places article > h2 {
    font-size: 30px;
    border-radius: 4px;
    text-align: center;
    width: 100%;

}
